
@{
    ViewBag.Title = "Index";
}

<h2>Admin Index</h2>

@Html.ActionLink("sales index view", "Index", "Home", new { area = "Sales" }, null)
<br />
@Html.ActionLink("Main index view", "Index", "Home", new {area = "" },null)
